body {
    font-family: Arial, sans-serif;
    background-color: #141517;
    color: #c1c2c5;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.header {
    background-color: #25262b;
    padding: 10px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to each cooler-box */
    padding: 5px;
}

.cooler-box {
    flex: 0 0 auto;
    min-width: calc(100% - 10px); /* Full width with padding */
    padding: 20px;
    margin-right: 5px;
    background-color: #1b1c20;
    border-radius: 10px;
    scroll-snap-align: start; /* Snap alignment */
}

.footer {
    background-color: #25262b;
    padding: 10px;
    text-align: center;
}

.footer nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer nav ul li:last-child {
    margin-right: 0;
}
